h1 {
  animation: blinker 1s linear infinite;
  opacity: 80;
  color: red;
  position: relative;
  left: 300px;
  bottom: -200px;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

body {
  background-color: darkblue;
}
